<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/home.css">

</head>
<body>
    <div class="container">
        <div>

            <div>
                Titrant:
                <select id="titrants"></select>
            </div>
            <!-- <div id="ranges">
                Speed of Titrant :
                <input type="range" min="0.1" max="1" value="0.1" id="slider">
            </div> -->
        </div>
        <div class="experiment">
            <div>
                <img src="./images/burrete.png" id="burrete" alt="burrete_img">
                <button id="knock"></button>
                <div id="beaker">
                    <div id="liquid"></div>
                </div>
                <div id="drop"></div>
                <div id="wave"></div>
            </div>
        </div>
    </div>
    </div>
    <script>
        var titrants=["Hydrochloric acid","Sulphuric acid","Hydrobromic acid","Oxalic acid","Acetic acid"];
        const titrantList=document.getElementById('titrants');
        console.log(titrantList)
        titrants.forEach((item)=>{
            const optiont=document.createElement('option');
            optiont.innerText=item;
            optiont.value=item;
            titrantList.appendChild(optiont);
        })
        </script>
</body>

<script src="./scripts/home.js">
</script>

</html>